.lista-1 {
  font-size: 12px; }

.lista-2 {
  font-size: 24px; }

.lista-3 {
  font-size: 36px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.serv {
  border: red 2px solid;
  margin: 50px; }

.servicios-1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #246461;
  color: white;
  background: #246461; }

.servicios-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #418b88;
  color: white;
  font-style: italic;
  background: #418b88; }

.servicios-3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #a9e6e2;
  color: white;
  background: #a9e6e2; }
